* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(15px + 0.390625vw);
}

body {
    background-color: var(--main);
    color: var(--primary);
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

:root {
    --primary: #69D1C5;
    --secondary: #004346;
    --main: #172a3a;
}

button {
    padding: 0.25rem 1rem;
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    border-radius: 1rem;
    margin: 1rem 0;
    transition: all 0.5s;
}

button:hover {
    cursor: pointer;
    font-size: 0.7rem;
    color: var(--main);
    background-color: var(--primary);
}

button.dark {
    border: 2px solid var(--main);
    background-color: transparent;
    color: var(--main);
}

button.dark:hover {
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--primary);
    background-color: var(--main);
}

/* --------Header Navigation-------- */
#header{
    position: sticky;
    top: 0;
    z-index: 3;
    height: 10vh;
}
nav {
    display: flex;
    background-color: var(--main);
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

nav .logo-image img {
    max-height: 3rem;
}

.logo-title {
    color: var(--primary);
    font-size: 1.5rem;
}

/* -------------Burger------------ */

.row-burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger-icon {
    width: 40px;
    height: 3px;
    background: var(--primary);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-icon::before,
.burger-icon::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background: var(--primary);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burger-icon::before {
    transform: translateY(-13px);
}

.burger-icon::after {
    transform: translateY(13px);
}

/* ----------Burger-Animation--------- */
.row-burger.open {
    overflow: visible;
}

.row-burger.open .burger-icon {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.row-burger.open .burger-icon::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.row-burger.open .burger-icon::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* ----------Drop Menu----------- */

.drop-menu {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background-color: var(--primary);
    color: var(--main);
}

.drop-menu.open {
    margin: 0;
    height: 70vh;
    overflow: hidden;
    padding: 0.5rem;
}

.drop-menu ul {
    list-style: none;
    margin: 0;
}

.drop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-list a {
    color: var(--main);
    font-size: 1.5rem;
    text-decoration: none;
}

.drop-list li {
    text-align: center;
    padding: 0.35rem;
}

.social-links {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
}

.social-links i {
    color: var(--main);
    font-size: 1.5rem;
    padding: 1rem 1rem 0rem 1rem
}

/* ---------Hero Section-------- */

.header {
    height: 75%;
    position: relative;
    background-image: url(images/1.png);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.header img {
    width: 170px;
    float: left;
}
.header h1{
    max-width: 300px;
    text-align: center;
    margin: auto;
    padding-top: 2rem;
    color: var(--secondary);
}

.header-links{
    position: absolute;
    background-color: var(--main);
    border-radius: 0.5rem;
    bottom: 0;
    right: 0;
    max-width: 150px;
    overflow: hidden;
    padding: 0.5rem;
    margin: 0.5rem;
}
.header-links h2{
    margin: 0.25rem 0;
    font-size: 1rem;
}
.header-links a{
    font-size: 0.8rem;
}


/* ----------Introduction-------- */
.intro-section {
    max-width: 800px;
    margin: auto;
}
.container-intro {
    padding: 1rem;
}
.container-intro h1 {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.8rem;
}
.container-intro p {
    text-align: justify;
    margin: 0 0 1.5rem 0;
}

/* ----------About Us-------- */

.background-about {
    height: 100%;
    background-image: url(images/about-us.jpg);
    background-size: cover;
    background-position: top;
    padding: 15rem 0;
}

.container-about {
    padding: 1rem 0.5rem;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: var(--primary);
}
.container-about h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;

}
.container-about p {
    text-align: justify;
    font-size: 0.8rem;
    max-width: 600px;
    margin: auto;
}
.container-about button{
    margin: 1rem 0 0 0;
}

/* ---------Working Remote-------- */

.remote-section {
    background-color: var(--primary);
    color: var(--main);
    text-align: center;
    padding: 1rem 0;
}
.container-remote {
    padding: 0rem 0.5rem;
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.content-remote-text {
    max-width: 600px;
    margin: 0.5rem;
    font-size: 0.9rem;
}
.remote-section h2 {
    font-size: 1.8rem;
    padding: 1rem 0.5rem;
    text-align: center;
}
.container-remote span {
    font-style: italic;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: left;
}
.container-remote p {
    text-align: justify;
    margin: 0rem 0 1.5rem 0;
}
.container-remote span.title {
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}
.container-remote ul {
    font-size: 0.8rem;
    list-style: none;
    margin: 0.25rem 0 1rem 0;
    text-align: left;
}
.container-remote li {
    margin: 0.2rem 0;
}
.container-remote img {
    width: 45%;
    border-radius: 0.5rem;
    margin: 0.5rem;
    max-width: 350px;
}
.remote-section button {
    font-size: 0.7rem;
}

/* ---------Blog-------- */

.guide-section {
    max-width: 600px;
    margin: auto;
    padding: 1rem 0;
    text-align: center;
}
.content-guide {
    margin: 1rem;
    text-align: center;
}
.container-guide h2 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    padding: 0.5rem;
    text-align: center;
}
.content-guide img{
    width: 100%;
    border-radius: 0.5rem;
    max-width: 600px;
    margin: 1rem 0;
}
.container-guide p {
    text-align: justify;
    font-size: 0.8rem;
}
.content-guide span {
    font-style: italic;
    font-weight: bold;
}
.container-lists {
    display: flex;
    justify-content: space-around;
}
.container-lists ul {
    list-style: none;
    margin: 0.5rem;
}


/* ----------Featured-------- */

.featured-content {
    height: 100%;
    background-image: url(images/destinations-remote.jpg);
    background-size: cover;
    background-position: center;
    padding: 13rem 0;
}
.featured-about {
    padding: 1rem 0.5rem;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: var(--primary);
}
.featured-about h2 {
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
}
.featured-about p {
    text-align: justify;
    font-size: 0.8rem;
    max-width: 600px;
    margin: auto;
}
.featured-about button{
    margin-bottom: 0;
}

/* --------Expenses------- */

.expenses-section {
    max-width: 800px;
    padding: 1rem 0;
    margin: auto;
    text-align: center;
}

.contain-text {
    max-width: 700px;
    margin: auto;
}

.expenses-section h2 {
    font-size: 1.8rem;
    text-align: center;
}

.expenses-section p {
    font-size: 0.8rem;
    padding: 0.5rem;
    text-align: justify;
}

.contain-expenses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contain-expenses img {
    max-width: 160px;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

/* ---------Services--------- */

.services-section {
    background-color: var(--primary);
    color: var(--main);
    padding: 1rem 0;
}
.services-section h2 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 1rem;
}
.contain-services {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: auto;
}
.services {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contain-services img {
    max-width: 100%;
    border-radius: 0.5rem;
    border-radius: 50%;
    border: 1px solid var(--secondary);
}
.contain-services h3{
    margin: 0.5rem;
}

.service-choice{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
}
.service-item{
    max-width: 300px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    background-color: var(--main);
    color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid var(--secondary);
}
.services-section i{
    font-size: 3rem;
    margin: 0.5rem;
}
.service-item h3{
    margin: 0.5rem;
    font-size: 1.7rem;
}
.service-item p{
    margin: 0 0 0.5rem 0;
    font-size: 0.8rem;
    text-align: justify;
}
.contain-features{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.service-item span.features{
    display: inline;
    font-size: 0.8rem;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    padding: 0.1rem 0.5rem;
    margin: 0.25rem;
}

/* ---------Stays-------- */

.coming-soon{
    background-color: var(--primary);
    color: var(--primary);
    padding: 0 0 1.5rem 0;
}
.coming-soon h2{
    color: var(--main);
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}
.stays-coming{
    width: 95%;
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    text-align: center;
    background-color: var(--main);
    border-radius: 0.5rem;
    border: 2px solid var(--secondary);
    box-shadow: 0.1rem 0.1em rgb(23, 42, 58, 0.4);

}
.stays-coming h3{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
.stays-coming p{
    text-align: justify;
    font-size: 0.9rem;
    padding: 0.5rem;
}
.stays-coming i{
    font-size: 3rem;
    padding: 0.5rem;
}
.stays-coming h4{
    font-size: 1.6rem;
    margin: 1rem 0 0.5rem 0;
}
.icon-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.feature-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* -------------Footer------------ */

.container-footer {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    padding-top: 20px;
    justify-content: space-around;
    align-items: flex-start;
    color: var(--primary);
    background-color: var(--main);
}

.container-footer a {
    text-decoration: none;
    font-size: 0.8em;
    color: var(--primary);
}

.footer-about p {
    max-width: 200px;
    min-width: 115px;
    font-size: 0.8em;
    text-align: justify;
}

.container-footer i {
    font-size: 1.4em;
    margin: 10px;
    color: var(--primary);
}

.contain-links {
    text-align: center;
}

.footer-cjpixel-about .contain-logo {
    width: 110px;
    height: 110px;
    margin: 10px;
    padding: 13px 10px 10px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #000;
}

.footer-cjpixel-about img {
    width: 100%;
}

.footer-about {
    padding: 10px;
    position: relative;
}

.footer-about::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 80%;
    top: 12px;
    left: -2px;
    background: var(--primary);
}

.footer-about h3 {
    margin-bottom: 5px;
}

.contain-cjpixel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cjpixel-content a {
    font-size: 1em;
}


/* -----------Small Devices----------- */

@media only screen and (max-width: 480px) {

    /* ----Remote Work---- */
    .container-remote {
        flex-wrap: wrap;
    }

    .container-remote img {
        width: 80%;
    }

    .container-remote ul {
        text-align: center;
    }

}

@media only screen and (max-width: 360px) {

    .contain-services {
        flex-wrap: wrap;
    }
}